@{
    ViewBag.Title = "Home Page";
}
<h2>The World</h2>
<p>This will be a fun website soon!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>

    <div>
        <label>Location</label>
        <input />
    </div>
    <input type="submit" value="Add" />
</form>